<p class="text-center fw-bold mt-5">A simple side project that is built for hands-on experience in Node.js</p>

<h4 class="text-center fw-bold mt-5"><u>Supporting Functions:</u></h4>

<h5 class="text-center fw-bold mt-5"><i>- Adding Transaction Records</i></h5>

<h5 class="text-center fw-bold mt-5"><i>- Deleting Transaction Records</i></h5>

<h5 class="text-center fw-bold mt-5"><i>- Viewing All Transaction Records</i></h5>

<h5 class="text-center fw-bold mt-5"><i>- Viewing Monthly Expense Report</i></h5>

<h5 class="text-center fw-bold mt-5"><i>- Downloading All Transaction Records</i></h5>